.hero{
    
    background-image:linear-gradient(rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 0.5)), url("../../../assets/img/hero/hero.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero_item{
    align-items:center;
}