@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("../public/bg2.jpg");
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
